body{
    background-color: #333;
}
.logo{
    color:#333;
}
.nav-bar{
    background-color:#fff;
    color:#fff;
    margin:20px;
    display: flex;
    align-content: center;
    height:50px;
    padding:20px 10px 10px 80px;
    
}
h3{
    display: inline;
    margin: 0;
    margin-right: 300px;
}
.nav-links{
    text-decoration: none;
    margin-right:30px;
}
.links,h3,.search{
    margin-top:20px;
}

.search{
    color:blue;
    margin-left:50px;
}
.clock{
    color: blue;
    margin-left:100px;
    margin-top:5px;
    width:100px;
}
